<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.tmall.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.shsxt.tmall.vo.Category" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, parent_id, grade, is_valid, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_category
    where id = #{id,jdbcType=INTEGER} and is_valid = 1
  </select>
  <select id="queryByName" resultType="com.shsxt.tmall.vo.Category">
    select <include refid="Base_Column_List"></include>
    from t_category where name = #{name} and is_valid = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.shsxt.tmall.vo.Category" >
    insert into t_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shsxt.tmall.vo.Category" >
    update t_category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByParams" parameterType="com.shsxt.tmall.query.CategoryQuery" resultType="com.shsxt.tmall.vo.Category">
    select <include refid="Base_Column_List"></include>
    from t_category
    <where>
      is_valid = 1
      <if test="name != null and name != ''">
        and name like concat('%',#{name},'%')
      </if>
      <if test="grade != null and grade != ''">
        and grade = #{grade}
      </if>
      <if test="pId != null">
        and parent_id = #{pId}
      </if>
    </where>
  </select>
  <select id="queryAllFatherCategory" resultType="com.shsxt.tmall.vo.Category">
    select <include refid="Base_Column_List"></include>
    from t_category where is_valid = 1 and grade = 1
  </select>
  <select id="countByParentId" resultType="int">
    select count(1)
    from t_category where is_valid = 1 and parent_id = #{parentId}
  </select>
    <select id="queryAllChildCategory" resultType="com.shsxt.tmall.vo.Category">
      select <include refid="Base_Column_List"></include>
      from t_category where is_valid = 1 and grade = 2
    </select>
</mapper>